@font-face {
    font-family: 'shirokuma';
    src: url(./fonts/001Shirokuma-Regular.woff);
}

@font-face {
    font-family: 'kokoro';
    src: url(./fonts/Kokoro.woff);
}

body {
    user-select: none;
}

.input {
    display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number] {
    height: 100%;
    padding: 10px;
    font-size: 18px;
}

.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 220px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border-radius: 3px;
    background-color: #fff;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
}


.button {
    margin-top: 10px;
}

.button img {
    width: 50px;
    height: 50px;
}

.button>* {
    cursor: pointer;
    transition: .4s;
    display: inline-block;
    background-color: #fff;
}

.button>*:hover {
    opacity: 0.6;
}

.control>* {
    padding: 15px;
    border: #000000 solid 1px;
}

.select {
    display: inline-block;
}

.select>* {
    padding: 5px 10px;
    padding-top: 10px;
    border-radius: 10px;
}


.display_part {
    margin: 30px 0;
    width: 900px;
    font-family: 'shirokuma';
    position: relative;
    color: #fff;
}

.display_part div>* {
    margin: 0;
}

.show_year {
    padding-left: 50px;
    font-size: 30px;
}

.show_month {
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
}

.week {
    width: 100%;
    display: flex;
    padding: 15px 0;
    text-align: center;
}

.week>* {
    width: 100%;
    font-size: 40px;
}

.tableRow {
    display: flex;
    text-align: center;
}

.tableRow>* {
    width: 100%;
    font-size: 40px;
    letter-spacing: -9px;
}

.unit {
    height: 80px;
    position: relative;
    cursor: pointer;
}

.unit img {
    width: 80px;
    height: 80px;
}

.unit p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.legend_par {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.legend {
    display: inline-block;
    padding-right: 40px;
}

.legend div {
    display: flex;
    font-family: 'kokoro';
    font-size: 25px;
}

.legend div img {
    padding: 3px;
}

:root {
    --hue0: 0deg;
    --saturate0: 1;
    --brightness0: 1;
    --hue1: 0deg;
    --saturate1: 1;
    --brightness1: 1;
}

.img0 {
    filter: hue-rotate(var(--hue0)) saturate(var(--saturate0)) brightness(var(--brightness0));
}

.img1 {
    filter: hue-rotate(var(--hue1)) saturate(var(--saturate1)) brightness(var(--brightness1));
}

.adjust {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.color-reset p {
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
    border: #000000 solid 1px;
    transition: .3s;
}

.color-reset p:hover {
    opacity: 0.6;
}

.adjusted-img img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.slider {
    display: flex;
    width: 800px;
}

.slider div {
    width: 100%;
    text-align: center;
}

.slider-unit {
    display: flex;
}

.range {
    margin-left: 10px;
    appearance: none;
    width: 80%;
    height: 10px;
    background: #fff;
    border: #000000 solid 0.4px;
    border-radius: 9999px;
    position: relative;
    top: 5px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #61c0c0;
    border: #000000 solid;
    border-radius: 999px;
    width: 18px;
    height: 18px;
}

.easy-see {
    background-color: #000000;
}